:root {
    --vp-font-family-base: 'PingFang SC', 'Microsoft Yahei', sans-serif;

    /* pure theme color */
    --li-dot-color: var(--vp-c-brand);
    --date-color: var(--vp-c-text-2);
    --date-font-family: Georgia, sans-serif;
}

/* theme reset start */
/* for copyright */
/*.Layout {*/
/*    min-height: calc(100vh - 55px) !important;*/
/*}*/
/* for aside start */
.aside {
    position: fixed !important;
    right:24px;
}
/* for aside end */
/* theme reset end */

/*tags and archives page style*/
.article {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-o {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--li-dot-color);
}

.titleDiv {
    color: var(--vp-c-text-2);
    font-size: 0.9375rem;
}
.titleDiv:hover {
    color: var(--vp-c-brand);
}
.date {
    color: var(--date-color);
    font-family: var(--date-font-family);
}

/*mobile*/
@media screen and (max-width: 720px) {
    .VPDoc {
        padding-bottom: 20px !important;
    }
    .vp-doc h1 {
        font-size: 1.25rem !important;
    }

    .article {
        padding: 4px;
    }
    .title-o {
        margin-right: 4px;
    }
    .titleDiv {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 17em;
    }
}
